@import "o-fonts/main";
@import "o-ft-icons/main";
@import "o-ft-header/main";
@import "o-ft-forms/main";
@import "o-hoverable/main";
@import "o-dialog/main";
@import "o-ft-typography/main";

$o-ft-forms-is-silent: false !default;
$o-ft-legacy-signin-is-silent: true !default;

@include oFontsInclude(BentonSans); // for form text
@include oFontsInclude(BentonSans, lighter); // for form heading

.o-ft-legacy-signin {
	@extend %o-ft-header__topbar__item;

	span {
		display: none;	
	}
}

.o-ft-legacy-signin__icon {
	font-size: 26px;
}

@include o-ft-icons-icon-as-class(profile, o-ft-legacy-signin__icon);

#{$o-hoverable-if-hover-enabled} {
	.o-ft-legacy-signin {
		&:hover {
			text-decoration: none;
		}
	}	
}

.o-ft-legacy-signin--logged-in {
	@extend %o-ft-header__topbar__item--active;
	font-size: 0;
}

.o-ft-legacy-signin__form {
	@extend %o-dialog--modal__content !optional;
}

.o-ft-legacy-signin__heading {
	@extend %o-dialog__heading !optional;
}

.o-ft-legacy-signin__body {
	@extend %o-dialog__body !optional;
	padding-top: 10px;
}

.o-ft-legacy-signin__form {
	fieldset{
		border: none;
		padding: 0;
	}

	input[type=submit] {
		float: right;
	}
}

.o-ft-legacy-signin__forgotten {
	@extend %o-ft-typography-body !optional;
	@extend %o-ft-typography-body__link !optional;
}
