<a href="https://registration.ft.com/registration/barrier/login?location={{o-ft-legacy-signin.encodedLocation}}"
	class="o-ft-legacy-signin"
	data-o-dialog__trigger='{"preset": "modal", "innerClasses": "o-ft-legacy-signin__form", "headingSelector": ".o-ft-legacy-signin__heading", "bodySelector":".o-ft-legacy-signin__body"}'>
	<i class="o-ft-legacy-signin__icon"></i>
	<span>Sign in</span>
</a>
