@import "o-fonts/main";
@import "o-ft-header/main";
@import "o-hoverable/main";

$o-ft-signin-is-silent: true !default;

@include oFontsInclude(BentonSans);

.o-ft-signin {
	@extend %o-ft-header__topbar__item;
	font-size: 0;
	&:after { 
		font-size: 26px;
		content: '\f020';
	}
}

#{$o-hoverable-if-hover-enabled} {
	.o-ft-signin {
		&:hover {
			text-decoration: none;
		}
	}	
}

.o-ft-signin--logged-in {
	@extend %o-ft-header__topbar__item--active;
	font-size: 0;
}
