<a href="https://registration.ft.com/registration/barrier/login" 
	class="o-ft-signin" 
	data-o-dialog__trigger='{"preset": "modal", "src": ".o-ft-signin__modal-template", "innerClasses": "o-ft-signin__form", "headingSelector": ".o-ft-signin__heading", "bodySelector":".o-ft-signin__body"}'>
<i class="o-ft-signin__icon"></i>
<span>anonymous</span>
</a> 
<script class="o-ft-signin__modal-template" type="text/template">
	{{ > tpl/sign-in.mustache}}
</script>