<h1 class="o-ft-legacy-signin__heading">Sign in</h1>
<form action="https://registration.ft.com/registration/barrier/login" method="post" class="o-ft-legacy-signin__body">

	<fieldset>
		<div>
			<label for="o-ft-legacy-signin__email" >Email address</label>
			<input class="o-ft-legacy-signin__field" name="username" type="text" id="o-ft-legacy-signin__email">
		</div>
		<div>
			<label for="o-ft-legacy-signin__password" >Password</label>
			<input class="o-ft-legacy-signin__field" name="password" class="text" type="password" id="o-ft-legacy-signin__password" >
		</div>
	</fieldset>

	<a href="https://registration.ft.com/registration/login/forgottenpassword?forgottenPasswordUsername=&amp;location=" class="o-ft-legacy-signin__forgotten">Forgot password?</a>
	<fieldset>
		<input name="location" type="hidden" class="o-ft-legacy-signin__location" />
		<input name="referer" type="hidden" class="o-ft-legacy-signin__referer" />
		<input name="rememberme" type="checkbox" checked="checked" id="o-ft-legacy-signin__rememberme">
		<label for="o-ft-legacy-signin__rememberme">Remember me on this computer</label>
	</fieldset>
	<input type="submit" class="o-ft-forms__button o-ft-forms__button--medium" value="Send" />

</form>